<a href="https://colab.research.google.com/github/JIJIN-EH97/AI_ML_COURSE_ICTAK_JIJIN/blob/main/ASSIGNMENTJIJIN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.A financial analyst stores monthly revenues in a list: [120000, 135000, 128000,
142000, 150000]. Find the difference between the highest and lowest revenue without
using loops.

In [ ]:
L1 = [120000, 135000, 128000, 142000, 150000]
L2=max(L1)-min(L1)
print(f"difference between the highest and lowest revenue:{L2}")

difference between the highest and lowest revenue:30000

2. Given the tuple account = ('Asha', 'Savings', 56000, 'KCH'), unpack the values into
separate variables and print a formatted string: 'Asha has ₹56000 in her Savings
account (Branch: KCH)'.

In [ ]:
t1=('Asha', 'Savings', 56000, 'KCH')
Name,Account_type,Balance,Branch=t1
print(f"{Name} has ₹{Balance} in her {Account_type} account (Branch: {Branch})")

Asha has ₹56000 in her Savings account (Branch: KCH)

3. Convert the list of string numbers ['45000', '56000', '38000'] to integers and find
their average balance.\

In [ ]:
s1=['45000', '56000', '38000']
s2=list(map(int,s1))
print(f"average balance:{sum(s2)/len(s2)}")

average balance:46333.333333333336

 4.Create a list with elements: ['Kochi', 'Chennai', 'Mumbai', 'Delhi', 'Pune']. Replace
'Delhi' with 'Hyderabad' and print the new list in reverse order using slicing

In [ ]:
e1=['Kochi', 'Chennai', 'Mumbai', 'Delhi', 'Pune']
e1[3]='Hyderabad'
print(e1[::-1])

['Pune', 'Hyderabad', 'Mumbai', 'Chennai', 'Kochi']

5.You have two tuples: interest_2024 = (7.1, 7.3, 7.2) and interest_2025 = (7.4, 7.5).
Combine them and print the average of all interest rates.

In [ ]:
interest_2024  = (7.1, 7.3, 7.2)
interest_2025  = (7.4, 7.5)
t3=interest_2024+interest_2025
print(f"Average of all interest rates:{sum(t3)/len(t3)}")

Average of all interest rates:7.3

6. A string variable branch_id = 'TVM-FIN-2025'. Extract the branch code (first three
letters) and the year (last four digits).

In [ ]:
branch_id = 'TVM-FIN-2025'
branch_code=branch_id[:3]
year=branch_id[-4:]
print(f"branch code:{branch_code},year:{year}")

branch code:TVM,year:2025

7. Create a list transactions = [10000, -2000, 5000, -1500, 3000]. Without using loops,
find total deposits and withdrawals using list slicing or indexing only.

In [ ]:

t = [10000, -2000, 5000, -1500, 3000]

t_deposit = sum(t[0:1]) + sum(t[2:3]) + sum(t[4:5])
t_withdrawal = sum(t[1:2]) + sum(t[3:4])
print(f"Total deposit: {abs(t_deposit)}")
print(f"Total Withdrawals: {abs(t_withdrawal)}")

Total deposit: 18000
Total Withdrawals: 3500

8. Given name = 'John Doe' and balance = 72500, print a message in title case stating
'John Doe has a balance of ₹72500'. Ensure no type errors occur.

In [ ]:
name = 'John Doe'
balance = 72500
message =f"{name.title()} has a balance of ₹{balance}"
message

'John Doe has a balance of ₹72500'

9. A tuple customer = ('Kiran', 'Loan', 80000, 7.5). Calculate and print the total amount
payable after 1 year if interest is simple interest based on rate 7.5%.

In [ ]:
customer= ('Kiran', 'Loan', 80000, 7.5)
name, loan, principle, rate = customer
int = (principle * rate * 1) / 100
total_payable = principle+ int
print(f"Total amount payable after 1 year for {name} is ₹{total_payable:.2f}")

Total amount payable after 1 year for Kiran is ₹86000.00

10. Create two lists – branches = ['Kochi', 'Chennai', 'Mumbai'] and profits = [120000,
95000, 134000]. Form a new list of tuples pairing each branch with its profit.

In [ ]:
branches = ['Kochi', 'Chennai', 'Mumbai']
profits = [120000, 95000, 134000]
new_list =[(branches[0],profits[0]),(branches[1], profits[1]),(branches[2], profits[2])]
new_list

[('Kochi', 120000), ('Chennai', 95000), ('Mumbai', 134000)]

11. From a list salaries = [45000, 56000, 38000, 62000, 54000], extract the top three
salaries using slicing only.

In [ ]:
salaries = [45000, 56000, 38000, 62000, 54000]
salaries.sort(reverse=True)
salaries[:3]

[62000, 56000, 54000]

 12. Given the tuple exchange_rates = (83.2, 83.1, 83.5, 83.0, 82.9), convert it into a list
and change the third value to 84.0.

In [ ]:
exchange_rates = (83.2, 83.1, 83.5, 83.0, 82.9)
e_list=list(exchange_rates)
e_list[2]=84.0
e_list

[83.2, 83.1, 84.0, 83.0, 82.9]

 13. Combine two lists customer_names = ['Asha', 'John', 'Meera'] and balances = [56000,
72000, 65000] into a formatted string such as 'Asha:56000, John:72000, Meera:65000'
without loops.

In [ ]:
Customer_names = ['Asha', 'John', 'Meera']
Balances = [56000, 72000, 65000]
print(f"{Customer_names [0]}:{Balances[0]}, {Customer_names [1]}:{Balances[1]}, {Customer_names [2]}:{Balances[2]}")

Asha:56000, John:72000, Meera:65000

14. Given account_info = (Deepa, 'Savings', 98000), use string formatting to print a
sentence 'Account Holder Deepz has ₹98000 in Savings account'.

In [ ]:
account_info = ('Deepa', 'Savings', 98000)
print(f"Account Holder {account_info[0]} has ₹{account_info[2]} in {account_info[1]} account")

Account Holder Deepa has ₹98000 in Savings account

15. Create a nested list storing branch names and their monthly collections: [['Kochi',
[120000, 135000]], ['Chennai', [95000, 110000]]]. Print only the collection of Chennai
branch without using loops.

In [ ]:
branch = [['Kochi', [120000, 135000]], ['Chennai', [95000, 110000]]]
chennai_col = branch[1][1]
print(f'The chennai monthly collection is {chennai_col}')

The chennai monthly collection is [95000, 110000]